/* Floated Columns ------------------ */

#score {
  width: 87px;
  padding: 0;
  margin: 0;
  float: left;
}

#heading {
  width: 15%%;
  margin-right: 10px;
  padding: 5px 10px 30px;
  margin: 0;
  text-align: left;
  float: left;
}

#win-message {
  padding-top: 30px;
  color: red;
  float: left;
}

#replay {
  float: right;
  text-align: center;
  padding: 10px;
}

#play-again button{
  float: left;
  margin-top: 50px;
  margin-left: 25px;
  padding: 10px 50px;
  background-color: #30A5BF;
  font-weight: bold;
}

/* Float Clearfix ------------------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}
/*----------------------------------*/

.container td {
  padding: 0.05%;
}

 .responsive div{
   max-width: 100%;
   height: auto;
 }

img {
  max-width: 100%;
  height: auto;
}

/*table stylings here*/

table {
  max-width: 100%;
  height: auto;
  background: #30A5BF;
  border-width: 2px;
  border-color:  #006666;
  border-collapse: collapse;
}

table th {
  background: #30A5BF;
  border-style: solid;
  border-width: 2px;
  border-color:  #006666;
  border-collapse: collapse;
}

table td {
  text-align: center;
  background: #30A5BF;
  border-style: solid;
  border-width: 2px;
  border-color: #006666;
  border-collapse: collapse;
